<!DOCTYPE html>
<html lang="en">
<head>
<meta charset= "UTF-8">
  <title>SubiShop</title>
  <link rel="stylesheet" href="stylee.css">
 <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
 </head>
 <body>
	<div class="header">   
   <div class="container">
   <div class="navbar">
   <div class= "logo">
   <img src= "images/logo.jpeg" width= "125px">
   </div>
   <nav>
   <ul>
		<li><a href="indexx.html">Home</a></li>
		<li><a href="about.html">About</a></li>
		<li><a href="contact.html">Contact</a></li>
		</ul>
		</nav>
		  <img src="images/cart.png" width="30px" height="30px">
		</div>
		<div class="row">
		<div class="col-2">	
<h1 style="text-align:center"> Contact Us</h1>
   </div>   
 
   </div>
   </div>
   </div>
   <br>
   <br>
   <br>
  <p style="text-align:center"><b>
  Our Physical Store Address:<br>
3719 74th St
Jackson Heights, Queens
New York 11372<br>
 Call (718) 424-2690<br>
Email: queensdiamond@gmail.com<br></b>
</p>
<br>
<br>
<br>
<br>
<h3 style="text-align:center">Let Us Know Your Thoughts in The Comment Below<h3>
<br>
<br>
<!---------comment box------->
<section id="app">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <div class="comment">
        <p v-for="items in item" v-text="items"></p>
          </div><!--End Comment-->
          </div><!--End col -->
          </div><!-- End row -->
      <div class="row">
        <div class="col-6">
      <textarea type="text" class="input" placeholder="Write a comment" v-model="newItem" @keyup.enter="addItem()"></textarea>
          <button v-on:click="addItem()" class='primaryContained float-right' type="submit">Add Comment</button>
        </div><!-- End col -->
      </div><!--End Row -->
    </div><!--End Container -->
  </section><!-- end App -->
  <br>
  <br>
  <br>
  <br>
  
 <!-----------footer------->


<div class="footer">
		<div class="container">
			<div class="row">
			<div class="footet-col-1">
				<h3>Download Our App</h3>
				<p>Dowload App for Android and IOS mobile phone.</p>
				</div>
				<div class="footet-col-2">
				 <img src="images/logo.jpeg" alt="">
				<p style="text-align:center">Our purpose is to sustainably satisfy our customer.</p>
				</div>
				<div class="footet-col-3">
				<h3>Useful links</h3>
				<ul>
					<li>Coupons</li>
					<li>Blog Post</li>
					<li>Return Policy</li>
				</ul>			
				</div>
				<div class="footet-col-4">
				<h3>Follow us</h3>
				<ul>
					<li>Facebook</li>
					<li>Twitter</li>
					<li>Instagram</li>
				</ul>
			</div>
		</div>
		<hr>
		<p class="copyright">Copyright 2022- Subi Shops</p>
	</div>
	</div>
	
   
   </body>




























